body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.courseCard {
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.courseCardInfo {
  font-weight: bold;
}

.searchButton {
  margin-top: 5px;
}

.createCourseForm {
  margin: 5%;
}

.createCourseInfo {
  margin: 10px;
}

.coursesSearchGrid {
  margin-bottom: 2;
}

.coursesSearchBarColumn {
  margin-left: 10%;
}

.addCourseButtonColumn {
  margin-right: 10%;
}